[log]
logging_level = Verbose

[osc]
listener_addr = localhost
listener_port = 3751
sender_addr = localhost
sender_port = 3752

[midi]
winch_midi_input = MPD218 Port A
midi_output = <no selection>

[dmx]
channels = 4
fixtures = 1
channels_per_fixture = 1
sliders = 4
dmx_output_serial_port = <no selection>

[winches]
winch_1_output_serial_port = cu.usbmodem2101
winch_sets = 1

